@media screen and (min-width: 1006px) {
    .bt-menu {
        display: none;
    }
    .collapse {
        display: inline-block;
    }
}

@media screen and (max-width: 1006px) {
    .collapse {
        display: none;
    }

    .collapse li{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        border-top:none;
        text-align: center;
    }
    .active  {
        display: inline-block;
        
    }



}