/* font-family: 'Lato', sans-serif; */
html {
    font-size: 13px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;  
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,div,section,header,nav,a {
    font-family: 'Lato', sans-serif;
    line-height: 1.846rem;
    text-decoration: none;
}

h1 {
    font-size:3.46rem;
    color: #1a1c27;
    line-height: 3rem;
    padding-bottom: 10px;
}

h2 {
    color: #2c3e50;
    font-size: 2.76rem;
    font-weight: 300;
    padding-bottom: 10px;
}

h3 {
    color: #2c3e50;
    font-size: 1.15rem;
    font-weight: 700;
}

h4 {
    font-size: 1.23rem;
    font-weight: 400;
}

h5 {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.38rem;
    font-weight: 700;
}

p {
    color: #a1b1bc;
    font-size: 1.076rem;
    font-weight: 400;
}

ul li{
    display: inline-block;
}

nav {
    position: fixed;
    background-color: #fff;
    top:0;
    width: 100%;
    z-index: 2;
}

footer {
    background-color:  #1a1c27;
}

/* Grid*/

.grid {
    display: grid;
    grid-template-columns:
    [full-start]minmax(1em,1fr)
    [main-start]  minmax(0,45em)[main-center]minmax(0,45em)[main-end]
    minmax(1em,1fr)[full-end];
    /* grid-gap: 10px; */
}

.grid__full {
    grid-column: full-start/full-end; 
}

.grid__main--full {
    grid-column:main-start/main-end ;
}

.grid__main--left {
    grid-column: main-start/main-center;
}

.grid__main--right {
    grid-column: main-center/main-end;
}

.grid__footer__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, 85px);
    grid-gap: 5px;
}

.grid__footer__images img{
    max-width: 100%;
}

/***/

.wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper--end {
    justify-content: flex-end;
}

.navbar {
    font-size: 14px;
    margin:0 10px;
}
.navbar li {
    padding: 30px 10px;
}
.navbar li:hover {
    border-top: 5px #1abc9c solid;
    color: #1abc9c;
}

.nav__logo img{
    padding: 5px;
}

/* Header Image */
.mainImage {
    background: url('../images/bg123.jpg') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #464646;
    height: 899px;
}

#barra__title {
    max-width: 100%;
}

.mainImage__information {
    padding-top: 22.222%;
}

.mainImage__information--wrapper {
    display: flex;
    align-content: flex-start;
    margin-bottom: 5.5556%;
}

.mainImage__information--wrapper p, .mainImage__information__icons--wrapper img {
    padding: 10px 0 10px 10px;
}
.mainImage__information--wrapper p {
    font-size: 1.69rem;
    color: #1a1c27;
}

.mainImage__information__icons--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainImage__information--wrapper .mainImage__information__icons--important  {
    padding-top: 22px;
    padding-bottom:  22px;
}


.button__header {
    font-weight: 900;
    color: #fff;
    padding: 18px 20px;
    background: #222533;
    font-size: 1.3846rem;
    text-align: center;
    margin-left: 20px;
}

.button__header:hover {
    background-color: #21c2f8;
}

.title--complementary {
    padding: 20px 0;
    font-size:1.8769rem;
    color: #1a1c27;
}

/* span */

.information__span {
    border: 1px solid #eceef0;
    border-radius: 3px;
    margin: 10px 0;
}

.information__span h3 {
    padding: 10px;
}

.information__span p {
    display:none; 
}

/* Amazing works */
.section3 {
    text-align: center;
}


.card-works img {
    max-width: 100%;
}

.card-works__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    border: 1px solid #eceef0;
}

.card-works__title__favs {
    display: flex;
    align-items: center;
}

.wrapper--works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Barra middle */
.bar__stadicts{
    font-size: 30px;
    font-weight: 300;     
    display: flex;
    flex-wrap: wrap;
}

.bar__stadicts li:hover {
    background-color: #2c3e50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.bar__stadicts li {
    color: #ffffff;
    width: 20%; 
    height: 200px;
    background-color: #1ad5b0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.bar__stadicts--text {
    width: 154px;
    height: 46px;
    text-align: center;
}

.bar__stadicts li p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
}

/* mobile */
.sectionWithUs p{
    padding-bottom: 33.67px;
}
 .sectionWithUs img{
    max-width: 100%;
    max-height: 100%;
}
.button {
    color: white;
    padding: 18.67px 23.33px;
    border-radius: 2px;
    background-color: #a1b1bc;
    box-shadow: 1px 3px 0px 0px #81919b;
    font-size: 16px;
    font-weight: 900;
    margin-top: 4px;
}

/* Section opinions */

.button__group {
    margin: 20px;
    border-radius: 5px;
}

.button__group a{
    padding: 10px 20px;
    border:  1px #d7dfe1 solid;
}

.button__group img{
    padding:0 10px;
}

.button__group  .button__group--right {
    background-color: #ffffff;
}

.button__group .button__group--left {
    background-color: #fbfafa;
    border-right: none;   
}

.opinions__header {
    padding-top: 100px;
    text-align: center;
}

.opinion__card {
    background-color: rgba(236, 240, 241, 0.3);
    border:1px #e4e7e9 solid;
    border-radius: 3px;
    padding: 30px 40px;
    display: flex;
    margin:30px 10px; 
}

.opinion__card__title {
    color: #2c3e50;
    font-size: 18px;
    font-weight: 700;
}
.opinion__card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.opinion__card--rigth {
    padding: 10px 0 0 20px;
}

.companies{
    border-top: 1px #e4e7e9 solid;
    display: flex;
    justify-content: center;
}

.container {
    width:55.19%; 
}
.container img{
    filter: grayscale(100%);
    width: 120px;
    padding:2.52%;
}

.container img:hover{
    filter: grayscale(0%);
}

/* Google map */
#map {
    height: 400px;
    background-color: grey;
  }

/* Form */

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    padding-right: 20px;
}

.data {
    margin-top:20px;
}
.data p{
    line-height: 30px;
}

form input {
    width: 100%;
    height: 50px;
    border: 1px #e4e7e9 solid;
    margin: 10px 0;
    border-radius: 3px;
}

textarea{
    width: 100%;
    height: 100px;
    border: 1px #e4e7e9 solid;
    margin: 10px 0;
    border-radius: 3px;

}
/* bar blogs */
.bar__blogs {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.blog1:hover,.blog2:hover,.blog3:hover,.blog4:hover,.blog5:hover {
    opacity: 1;
}

.blog__information {
    padding: 10px;
}
.blog1:hover .blog__information,
.blog2:hover .blog__information,
.blog3:hover .blog__information,
.blog4:hover .blog__information,
.blog5:hover .blog__information 
{
    color: #29d9c2;
    background-color: rgba(34, 37, 51, 0.96);
}

.blog1 {
    background: rgba(34,37,51,.5);
    background-image: url('../images/BarFooter/1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20%;
    height: 280px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0.7;
    
}
.blog2 {
    background-image: url('../images/BarFooter/2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20%;
    height: 280px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0.7;
}
.blog3 {
    background-image: url('../images/BarFooter/3.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20%;
    height: 280px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0.7;
}
.blog4 {
    background-image: url('../images/BarFooter/4.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20%;
    height: 280px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0.7;
}
.blog5 {
    background-image: url('../images/BarFooter/5.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20%;
    height: 280px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0.7;
}



/* imagefooter */
.sectionFooter {
    background-image: url('../images/footer.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 500px;
}

.wrapper__footer {
    color: white; 
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.wrapper__footer h2 {
    color: white; 
}

.wrapper__footer div {
    padding: 20px 0;
}

.button__noBackground {
    border: 2px #ffffff solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    padding: 10px;
}

.footer__columns {
    display: flex;
    margin:100px 0px;
    color: #a1b1bc;
    font-size: 14px;
    font-weight: 400;
}

.footer__column {
    width: 25%; 
    margin: 0 10px;
}

.footer__column h3{
    border-left: 5px #1abc9c solid;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
}

.footer__column a{
    color: #29d9c2;
}

.footer__column li{
    border-bottom: 1px  #262837 solid;
    padding: 10px;
}

.footer__column li:last-child{
    border-bottom: none;
}

.footer__column__post li{
    display: flex;
    justify-content: space-between;
}

.footer__column__tweets li{
    display: flex;
    align-items: flex-start;
}

.footer__column__tweets img {
    padding-right: 20px;
}

.footer__column__tweets--time {
    font-size: 0.9rem;
    opacity: 0.7;
}






