/* font-family: 'Lato', sans-serif; */
html {
    font-size: 13px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* Grid*/

.grid {
    display: grid;
    grid-template-columns:
    [full-start]minmax(1em,1fr)
    [main-start]minmax(0,40em)[main-center]minmax(0,40em)[main-end]
    minmax(1em,1fr)[full-end];
}